@import "core-const";
@import "mixin";

/* begin of no side space */
.view-container .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
/* end of no side space  */

/* begin of main toolbar */
.view-container .navbar {
    min-height: 30px;
    margin-bottom: 0px;
}
.view-container .navbar-text {
    font-size: 17px;
    line-height: 2;
}
.view-container .navbar-btn, .view-container .navbar-text {
    margin-top: 0px;
    margin-bottom: 0px;
}
/* end of main toolbar */

.alert-info a {
    text-decoration: underline !important;
}

.alert-info a.btn {
   text-decoration: none !important;
}

.top-buffer {
    padding-top: 20px !important;
}

tr.bottom-line td {
    border-top: 2px solid #111 !important;
}

.tiny {
    font-size: 75%;
}

@include desktop-media {
    .container {
        max-width: 800px;
        padding-top: 15px;
    }

    .modal-dialog .modal-body .container {
        width: initial;
    }

    .table-number {
        padding-left: 22px !important;
    }

    .input-group-addon {
        padding: 8px 12px;
        width: 45px;
        display: inline-block;
    }
}

@include mobile-media {
    .container {
        padding-top: 15px;
    }

    .wrap-long {
        white-space: initial !important;
    }

    .input-group-addon {
        padding: 8px 10px;
        width: 40px;
        display: inline-block;
    }
}

@import "spinner.scss";

.table hr.half-cell {
   margin: 5px 0px;
}

.text-black {
   color: #333;
}

.help-block {
    margin-left: 8px;
    margin-bottom: 0px;
}
