<main-menu></main-menu>
<div class="container admin-judgement">
  <request-status></request-status>
  <div class="form-group">
    <a class="btn btn-default" title="back" back-button>
      <span class="glyphicon glyphicon-circle-arrow-left"></span>
    </a>
    <a href="#!/my/tournament/{{$ctrl.tournamentId}}"
       title="tournament management"
       class="btn btn-default">
      <span class="glyphicon glyphicon-home"/>
    </a>
    <a href="#!/tournament/judged-matches/{{$ctrl.tournamentId}}"
       title="list of complete matches"
       class="btn btn-default">
      <span class="glyphicon glyphicon-book"/>
    </a>
    <a class="btn btn-default"
       href="#!/tournament/result/{{$ctrl.tournamentId}}"
       title="{{ 'Browser tournament results' | translate }}">
      <span class="glyphicon glyphicon-eye-open"></span>
    </a>
  </div>
  <div ng-show="!$ctrl.showTables && $ctrl.bids.length == 0 || $ctrl.showTables && $ctrl.matches.length == 0">
    <div class="alert alert-info" translate="tournament is complete"
         translate-values="{url: '#!/tournament/result/' + $ctrl.tournamentId}">
    </div>
    <div class="form-group">
      <a class="btn btn-default"
         href="#!/tournament/result/{{$ctrl.tournamentId}}">
        {{ 'Watch Ratings' | translate }}
      </a>
    </div>
  </div>
  <div class="form-group tables" ng-show="$ctrl.showTables && $ctrl.matches.length">
    <button class="btn btn-primary"
            ng-repeat="match in $ctrl.matches | orderBy : 'table.label'"
            ng-click="$ctrl.completeMatch(match)"
            ng-show="$ctrl.matches.length > 0">
      {{ 'table-short-cut' | translate }}{{match.table.label}}
    </button>
  </div>
  <div class="form-group" ng-show="!$ctrl.showTables && $ctrl.bids.length">
    <label for="bids" translate="playing-participants"/>
    <select class="form-control"
            ng-model="$ctrl.bid"
            ng-change="$ctrl.bidChange()"
            required name="bids" id="bids">
      <option ng-repeat="bid in $ctrl.bids | orderBy : 'name'" value="{{bid.uid}}">
        {{bid.name}}
      </option>
    </select>
  </div>
  <div class="form-group" ng-show="$ctrl.bids.length && !$ctrl.matches && !$ctrl.showTables">
    <div class="alert alert-info" translate="player-has-no-matches-to-play"/>
  </div>
  <div class="form-group" ng-show="$ctrl.matches.length">
    <table class="table">
      <thead>
        <tr>
          <td class="match-cell">
            {{ 'the match' | translate }}
          </td>
          <td ng-show="$ctrl.showTables">
            {{ 'the table' | translate }}
          </td>
          <td ng-show="$ctrl.showTables">
            {{ 'Opponents' | translate }}
          </td>
          <td ng-show="!$ctrl.showTables">
            {{ 'Opponent' | translate }}
          </td>
          <td/>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="match in $ctrl.matches | orderBy : $ctrl.orderField">
          <td class="match-cell">
            <a class="btn btn-default" ng-click="$ctrl.completeMatch(match)">
              {{match.matchType | translate}}
            </a>
          </td>
          <td ng-show="$ctrl.showTables">
            <a ng-click="$ctrl.completeMatch(match)">
              <span class="glyphicon glyphicon-map-marker"></span>
              {{ 'table-short-cut' | translate }}{{match.table.label}}
            </a>
          </td>
          <td class="participant-names" ng-show="$ctrl.showTables">
            <a ng-repeat="participant in match.participants"
               class="btn btn-default"
               ng-click="$ctrl.completeMatch(match)">
              {{participant.name}}
            </a>
          </td>
          <td class="participant-names" ng-show="!$ctrl.showTables">
            <a class="btn btn-default"
               title="{{ 'to-score' | translate }}"
               ng-click="$ctrl.completeMatch(match)">
              {{match.enemy.name}}
            </a>
          </td>
          <td>
            <a class="btn btn-primary"
               href="#!/match/management/{{match.tid}}/{{match.mid}}">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="form-group" ng-show="$ctrl.matches.length">
    <div class="alert alert-info" translate="tournament-progress-line"
         translate-values="$ctrl.progress"/>
  </div>
</div>
