<div class="form-group">
  <div class="alert alert-danger">
    You tried to score set {{1 + $ctrl.yourSet}}, while it is already complete.
    Original score of set {{1 + $ctrl.yourSet}} is different.
  </div>
</div>
<div class="form-group">
  <table class="table">
    <tr>
      <td translate="Set" />
      <td ng-repeat="participant in $ctrl.participants">
        <a href="#!/my/tournament/{{$ctrl.matchScore.tid}}/participant/{{participant.uid}}">
          <you name="participant.name | compactName"/>
        </a>
      </td>
    </tr>
    <tr ng-repeat="set in $ctrl.sets"
        ng-class="{'warning': $index == $ctrl.yourSet}">
      <td>{{$index + 1}}</td>
      <td>
        {{set.a}}
        <span ng-show="$index == $ctrl.yourSet">
          / <strong>{{$ctrl.yourSetScore[0]['score']}}</strong>
        </span>
      </td>
      <td>
        {{set.b}}
        <span ng-show="$index == $ctrl.yourSet">
          / <strong>{{$ctrl.yourSetScore[1]['score']}}</strong>
        </span>
      </td>
    </tr>
    <tr>
      <td translate="Total" />
      <td class="alert" ng-class="{'success': $ctrl.participants[0].uid == $ctrl.matchScore.winUid, 'danger': $ctrl.participants[1].uid == $ctrl.matchScore.winUid}">
        {{$ctrl.matchScore.wonSets[$ctrl.participants[0].uid]}}
      </td>
      <td class="alert" ng-class="{'success': $ctrl.participants[1].uid == $ctrl.matchScore.winUid, 'danger': $ctrl.participants[0].uid == $ctrl.matchScore.winUid}">
        {{$ctrl.matchScore.wonSets[$ctrl.participants[1].uid]}}
      </td>
    </tr>
    <tr ng-show="$ctrl.matchScore.winUid">
      <td translate="Winner" />
      <td colspan="2">
        <span ng-repeat="participant in $ctrl.participants">
          <a href="#!/my/tournament/{{$ctrl.matchScore.tid}}/participant/{{participant.uid}}"
             ng-if="participant.uid == $ctrl.matchScore.winUid">
            <you name="participant.name"/>
          </a>
        </span>
      </td>
    </tr>
    <tr ng-show="!$ctrl.matchScore.winUid">
      <td colspan="3" translate="match-continues" />
    </tr>
  </table>
</div>
