<main-menu></main-menu>
<div class="container enlist-form">
  <div class="form-group clearfix" ng-show="$ctrl.categories.length > 1">
    <div class="pull-left category-label">
      {{ 'Categories' | translate }}
    </div>
    <div class="pull-left category-value">
      <div class="row" ng-repeat="category in $ctrl.categories">
        <a class="btn btn-default category"
           ng-click="$ctrl.activate(category.cid)"
           ng-class="{'btn-primary': category.cid == $ctrl.categoryId}">
          {{category.name}}
        </a>
      </div>
    </div>
  </div>

  <div class="form-group clearfix" ng-show="$ctrl.tournament.state == 'Open'">
    <div class="pull-left category-label">
      {{ 'Groups' | translate }}
    </div>
    <div class="pull-left category-value">
      <table class="table">
        <tr>
          <td>
            <a class="btn btn-default" ng-click="$ctrl.activateGroup(0)"
               ng-class="{'btn-primary': 0 == $ctrl.groupId}">
              <span class="glyphicon glyphicon-plus-sign"/>
            </a>
          </td>
          <td ng-repeat="link in $ctrl.categoryGroups.links">
            <a class="btn btn-default"
               ng-click="$ctrl.activateGroup(link.gid)"
               ng-class="{'btn-primary': link.gid == $ctrl.groupId}">
              {{link.label}}
            </a>
          </td>
        </tr>
        <tr>
          <td></td>
          <td ng-repeat="pop in $ctrl.categoryGroups.populations track by $index">
            {{ pop }}
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="form-group" ng-show="!$ctrl.categoryId">
    <div class="alert alert-info">
      {{ 'trounament has no categories' | translate }}
    </div>
    <div>
      <a class="btn btn-primary" href="#!/my/tournament/categories/{{$ctrl.tournament.tid}}">
        {{ 'add category btn' | translate }}
      </a>
    </div>
  </div>

  <form novalidate name="$ctrl.form" ng-show="$ctrl.categoryId" ng-submit="$ctrl.enlist('Here')">
    <div class="form-group"
         ng-class="{'has-error':  ($ctrl.form.$submitted || $ctrl.form.firstName.$dirty) && $ctrl.form.firstName.$invalid}">
      <label for="firstName">{{ 'First name' | translate }}</label>
      <input type="text" class="form-control"
             ng-model="$ctrl.firstName"
             ng-maxlength="20"
             ng-minlength="2"
             required
             name="firstName"
             id="firstName"
             placeholder="{{ 'First name' | translate }}"/>
      <p class="help-block"
         ng-show="$ctrl.form.firstName.$error.required">
        {{ 'FirstName is required' | translate }}
      </p>
      <p class="help-block"
         ng-show="$ctrl.form.firstName.$error.minlength || $ctrl.form.firstName.$error.maxlength">
        {{ 'first-name-length-range' | translate : '{min: 2, max: 20}' }}
      </p>
    </div>
    <div class="form-group"
         ng-class="{'has-error': ($ctrl.form.$submitted || $ctrl.form.lastName.$dirty) && $ctrl.form.lastName.$invalid}">
      <label for="lastName">{{ 'Last name' | translate }}</label>
      <input type="text" class="form-control"
             name="lastName"
             ng-maxlength="20"
             ng-minlength="2"
             required
             ng-model="$ctrl.lastName"
             id="lastName" placeholder="{{ 'Last name' | translate }}"/>
      <p class="help-block"
         ng-show="$ctrl.form.lastName.$error.required">
        {{ 'LastName is required' | translate }}
      </p>
      <p class="help-block"
         ng-show="$ctrl.form.lastName.$error.minlength || $ctrl.form.lastName.$error.maxlength">
        {{ 'last-name-length-range' | translate : '{min: 2, max: 20}' }}
      </p>
    </div>
    <div class="form-group" default-button-type
         ng-show="$ctrl.rules.casting.policy == 'ProvidedRating'"
         ng-class="{'has-error': ($ctrl.form.$submitted || $ctrl.form.rank.$dirty) && $ctrl.form.rank.$invalid}">
      <label>{{ $ctrl.rules.casting.providedRankOptions.label }}</label>
      <div touch-spin options="$ctrl.rankRange" ng-model="$ctrl.rank"></div>
    </div>
    <div class="form-group">
      <a title="Enlist participant, mark him as paid and ready to participate"
         ng-click="$ctrl.enlist('Here')"
         ng-show="$ctrl.tournament.state == 'Draft'"
         class="btn btn-primary">
        {{ 'Ready to Play' | translate }}
      </a>
      <a title="Just enlist participant"
         ng-click="$ctrl.enlist('Want')"
         ng-show="$ctrl.tournament.state == 'Draft'"
         class="btn btn-default">
        {{ 'Just Enlist' | translate }}
      </a>
      <a title="Just enlist participant"
         ng-click="$ctrl.enlist('Wait')"
         ng-show="$ctrl.tournament.state == 'Open'"
         class="btn btn-primary">
        {{ 'Ready to Play' | translate }}
      </a>
      <a title="Return to tournament control panel"
         back-button
         class="btn btn-default">
        {{ 'Back btn' | translate }}
      </a>
      <button ng-show="false" type="submit">
      </button>
    </div>
  </form>

  <div class="form-group">
    <request-status></request-status>
  </div>

  <div class="form-group" ng-show="$ctrl.enlisted.length">
    <table class="table">
      <tr>
        <td>{{ 'Right now enlisted' | translate }}</td>
        <td>{{$ctrl.enlisted.length}}</td>
      </tr>
      <tr ng-repeat="enlisted in $ctrl.enlisted">
        <td colspan="2">
          <a href="#!/my/tournament/{{$ctrl.tournamentId}}/participant/{{enlisted.uid}}">
            {{enlisted.name}}
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
