<main-menu></main-menu>
<div class="container enlist-form">
  <table class="table" ng-show="$ctrl.tournament">
    <tbody>
      <tr>
        <td>{{ 'tournament name' | translate }}</td>
        <td>{{$ctrl.tournament.name}}</td>
      </tr>
      <tr>
        <td>{{ 'tournament city' | translate }}</td>
        <td>{{$ctrl.tournament.place.address.city.name}}</td>
      </tr>
      <tr>
        <td>{{ 'tournament place' | translate }}</td>
        <td>
          <a href="#!/place/{{$ctrl.tournament.place.pid}}">
            {{$ctrl.tournament.place.name}}
          </a>
        </td>
      </tr>
      <tr>
        <td>{{ 'tournament date' | translate }}</td>
        <td>
          <span class="date">
            {{$ctrl.tournament.opensAt|date:"MMM d"}}
          </span>
          <span class="time">
            {{$ctrl.tournament.opensAt|date:"EEE h a Z"}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered" ng-show="$ctrl.tournament">
    <tbody>
      <tr>
        <td title="Price per participant">
          {{ 'participation price' | translate }}
        </td>
        <td title="How many people are already enlisted">
          {{ 'enlisted to tournament' | translate }}
        </td>
        <td title="Available payment methods">
          {{ 'payment methods' | translate }}
        </td>
      </tr>
      <tr>
        <td>
          <span ng-if="$ctrl.tournament.ticketPrice">
            {{$ctrl.tournament.ticketPrice}}
          </span>
          <span ng-if="!$ctrl.tournament.ticketPrice">
            {{ 'free' | translate }}
          </span>
        </td>
        <td>
          <a ng-click="$ctrl.showEnlisted()"
             class="btn btn-default">
            <span class="glyphicon glyphicon-list-alt"></span>
            {{$ctrl.tournament.enlisted}}
          </a>
        </td>
        <td>{{ 'cash' | translate }}</td>
      </tr>
    </tbody>
  </table>

  <div class="form-group clearfix"
       ng-show="$ctrl.showCategoryList()">
    <div class="pull-left category-label">
      {{ 'Categories' | translate }}
    </div>
    <div class="pull-left category-value">
      <div class="row" ng-repeat="category in $ctrl.tournament.categories">
        <a class="btn btn-default category"
           ng-click="$ctrl.activate(category.cid)"
           ng-class="{'btn-primary': category.cid == $ctrl.myCategory.cid}">
          {{category.name}}
        </a>
      </div>
    </div>
  </div>

  <div class="form-group clearfix" ng-show="$ctrl.showMyCategory()">
    <div class="pull-left category-label">
      {{ 'My category' | translate }}
    </div>
    <div class="pull-left category-value">
      {{$ctrl.myCategory.name}}
    </div>
  </div>

  <div class="form-group clearfix" ng-show="$ctrl.tournament.bidState == 'Expl'">
    <div class="alert alert-danger">
      {{ 'you-have-been-expelled' | translate }}
    </div>
  </div>

  <div class="form-group" default-button-type
       ng-show="$ctrl.tournament.rules.casting.policy == 'ProvidedRating'"
       ng-class="{'has-error': ($ctrl.form.$submitted || $ctrl.form.rank.$dirty) && $ctrl.form.rank.$invalid}">
    <label>{{ $ctrl.tournament.rules.casting.providedRankOptions.label }}</label>
    <div touch-spin options="$ctrl.rankRange" ng-model="$ctrl.rank"></div>
  </div>

  <div class="form-group">
    <request-status></request-status>
    <tournament-status></tournament-status>
  </div>

  <div class="form-group" ng-show="$ctrl.showQuitConfirm">
    <div class="alert alert-danger">
      {{ 'open-tournament-resign-warn' | translate }}
    </div>
    <a class="btn btn-danger" ng-click="$ctrl.resign()">
      {{ 'Resign btn' | translate }}
    </a>
    <a class="btn btn-primary" ng-click="$ctrl.showQuitConfirm = false">
      {{ 'Cancel btn' | translate }}
    </a>
  </div>

  <div class="form-group" ng-show="$ctrl.tournament">
    <button type="button" class="btn btn-primary"
            ng-click="$ctrl.enlistMe()"
            ng-show="$ctrl.canEnlist()">
      {{ 'Enlist Me btn' | translate }}
    </button>
    <button type="button" class="btn btn-primary"
            title="{{ 'Resign btn' | translate }}"
            ng-click="$ctrl.resign()"
            ng-show="$ctrl.canResignFutureTournament()">
      <span class="glyphicon glyphicon-stop"></span>
    </button>
    <button type="button" class="btn btn-danger"
            title="{{ 'Resign btn' | translate }}"
            ng-click="$ctrl.ensureResign()"
            ng-show="$ctrl.canResignActiveTournament()">
      <span class="glyphicon glyphicon-stop"></span>
    </button>
    <a href="#!/my/matches/play/{{$ctrl.tournament.tid}}"
       class="btn btn-success"
       title="look at list of my matches"
       ng-show="$ctrl.showScheduleLink()">
      <span class="glyphicon glyphicon-play"></span>
    </a>
    <a href="#!/tournament/result/{{$ctrl.tournament.tid}}"
       class="btn btn-primary"
       title="show match results"
       ng-show="$ctrl.showResultLink()">
      <span class="glyphicon glyphicon-stats"></span>
    </a>
    <a href="#!/tournament/rules/{{$ctrl.tournament.tid}}"
       class="btn btn-primary"
       title="show tournament rules">
      <span class="glyphicon glyphicon-info-sign"></span>
    </a>
    <a href="#!/tournament/played-matches/{{$ctrl.tournament.tid}}"
       class="btn btn-primary"
       ng-show="$ctrl.tournament.bidState"
       title="list my played matches">
      <span class="glyphicon glyphicon-book"></span>
    </a>
    <a class="btn btn-primary label-info" role="button"
       ng-show="$ctrl.tournament.previousTid"
       href="#!/tournament/drafting/{{$ctrl.tournament.previousTid}}">
      {{ 'previous tournament' | translate }}
    </a>
  </div>
  <div class="form-group" ng-show="$ctrl.tournament.state == 'Close'">
    <div class="alert alert-info"
         translate="tournament is complete"
         translate-values="{url: '#!/tournament/result/' + $ctrl.tournament.tid}"/>
  </div>
  <div class="form-group" ng-show="$ctrl.tournament.bidState == 'Want'">
    <p translate="thanks-for-enlistment-info"
       translate-values="{url: '#!/my/matches/play/' + $ctrl.tournament.tid, name: $ctrl.tournament.name, time: $ctrl.tournament.opensAt}"/>
  </div>
</div>
