<main-menu></main-menu>
<form>
  <div class="container">
    <div class="form-group">
      <div class="alert alert-info" translate="match-is-complete-info"/>
    </div>
    <div class="form-group">
      <review-sets></review-sets>
    </div>
    <div class="form-group">
      <a href="#!/my/matches/judgement/{{$ctrl.tournamentId}}" class="btn btn-success">
        {{ 'Judge next' | translate }}
      </a>
      <a class="btn btn-warning" href="#!/match/edit-score/{{$ctrl.tournamentId}}/{{$ctrl.matchId}}">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
    </div>
  </div>
</form>
