<main-menu></main-menu>
<form>
  <div class="container">
    <div class="form-group">
      <div class="alert alert-info" translate="match-is-complete-info"/>
    </div>

    <div class="form-group">
      <review-sets></review-sets>
    </div>
    <div class="form-group">
      <a href="#!/my/matches/play/{{$ctrl.tournamentId}}" class="btn btn-success">
        {{ 'Next match' | translate }}
      </a>
    </div>
  </div>
</form>
