<main-menu></main-menu>
<request-status></request-status>
<div class="container my-tournament-admin">
  <div class="form-group">
    <div class="btn-group">
      <a class="btn btn-default" title="back" back-button>
        <span class="glyphicon glyphicon-circle-arrow-left"></span>
      </a>
      <a class="btn btn-success"
         ng-click="$ctrl.open()"
         ng-show="$ctrl.isDrafting()"
         title="{{ 'Split participants into groups and open tournament' | translate }}">
        <span class="glyphicon glyphicon-play-circle"></span>
      </a>
      <a class="btn btn-primary"
         href="#!/my/matches/judgement/{{$ctrl.tournament.tid}}"
         ng-show="$ctrl.tournament.state == 'Open'"
         title="{{ 'Judge and score open matches in the tournament' | translate }}">
        <img ng-src="{{$ctrl.whistle}}" class="icon-image"/>
      </a>
      <a class="btn btn-primary"
         href="#!/tournament/result/{{$ctrl.tournament.tid}}"
         ng-show="$ctrl.tournament.state == 'Close' || $ctrl.tournament.state == 'Open'"
         title="{{ 'Browser tournament results' | translate }}">
        <span class="glyphicon glyphicon-eye-open"></span>
      </a>
      <a class="btn btn-default"
         title="{{ 'Previous Tournament in the seria' | translate }}"
         href="#!/my/tournament/{{$ctrl.tournament.previousTid}}"
         ng-show="$ctrl.tournament.previousTid">
        <span class="glyphicon glyphicon-step-backward"></span>
      </a>
      <a class="btn btn-default"
         title="{{ 'Edit tournament' | translate }}"
         ng-show="$ctrl.canEdit()"
         href="#!/my/tournament/edit/{{$ctrl.tournament.tid}}">
        <span class="glyphicon glyphicon-edit"></span>
      </a>
      <a class="btn btn-default"
         title="{{ 'Configure tournament parameters' | translate }}"
         ng-show="$ctrl.canConfigureParams()"
         href="#!/my/tournament/parameters/{{$ctrl.tournament.tid}}">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <a class="btn btn-danger"
         ng-click="$ctrl.cancel()"
         ng-show="$ctrl.isNotCanceled()"
         title="{{ 'Stop and cancel tournament' | translate }}">
        <span class="glyphicon glyphicon-stop"></span>
      </a>
      <a class="btn btn-primary"
         title="{{ 'Announce and Open Draft' | translate }}"
         ng-click="$ctrl.beginDrafting()"
         ng-show="$ctrl.canBeginDrafting()">
        <span class="glyphicon glyphicon-globe"></span>
      </a>
      <a class="btn btn-primary"
         title="{{ 'Restart canceled tournament from scratch' | translate }}"
         ng-click="$ctrl.restart()"
         ng-show="$ctrl.tournament.state == 'Canceled'">
        <span class="glyphicon glyphicon-repeat"></span>
      </a>
      <a class="btn btn-default"
         title="list of complete matches"
         href="#!/tournament/judged-matches/{{$ctrl.tournament.tid}}"
         ng-show="$ctrl.tournament.state == 'Close' || $ctrl.tournament.state == 'Open'">
        <span class="glyphicon glyphicon-book"></span>
      </a>
      <a class="btn btn-primary"
         title="{{ 'Add offline participant, who does not have internet and a good phone' | translate }}"
         href="#!/tournament/enlist/offline/{{$ctrl.tournament.tid}}"
         ng-show="$ctrl.tournament.state == 'Draft' || $ctrl.tournament.state == 'Open'">
        <span class="glyphicon glyphicon-plus-sign"></span>
      </a>
      <a class="btn btn-primary"
         href="#!/tournament/copy/{{$ctrl.tournament.tid}}"
         title="{{ 'copy-tournament-hint' | translate }}">
        <span class="glyphicon glyphicon-duplicate"></span>
      </a>
    </div>
  </div>
  <div ng-show="$ctrl.errorHasUncheckedUsers.length > 0">
    <div class="form-group">
      <div class="alert alert-danger"
           translate="tournament-with-uncheched-participants-warn"
           translate-values="{users: $ctrl.errorHasUncheckedUsers.length}">
      </div>
    </div>
    <div class="form-group">
      <a class="btn btn-danger" ng-click="$ctrl.expelAndOpenTournament()">
        {{ 'Expel listed below &amp; open' | translate }}
      </a>
      <a class="btn btn-default" ng-click="$ctrl.cancelExpelAll()">
        {{ 'Cancel btn' | translate }}
      </a>
    </div>
    <div class="form-group">
      <table class="table table-bordered">
        <tr ng-repeat="participant in $ctrl.errorHasUncheckedUsers | orderBy : 'name'">
          <td>
            <a href="#!/my/tournament/{{$ctrl.tournament.tid}}/participant/{{participant.uid}}">
              {{participant.name}}
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="form-group" ng-show="$ctrl.wantRemove">
    <div class="alert alert-danger" translate="confirm-tournament-termination">
    </div>
  </div>
  <div class="form-group" ng-show="$ctrl.wantRemove">
    <a class="btn btn-danger" ng-click="$ctrl.confirmCancel()">
      {{ 'Confirm' | translate }}
    </a>
  </div>
  <div class="form-group">
    <table class="table">
      <tbody>
        <tr>
          <td>{{ 'tournament name' | translate }}</td>
          <td>{{$ctrl.tournament.name}}</td>
        </tr>
        <tr>
          <td>{{ 'tournament state' | translate }}</td>
          <td>{{$ctrl.tournament.state | translate}}</td>
        </tr>
        <tr>
          <td>{{ 'tournament place' | translate }}</td>
          <td>
            <a href="#!/place/{{$ctrl.tournament.place.pid}}">
              {{$ctrl.tournament.place.name}}
            </a>
          </td>
        </tr>
        <tr>
          <td>{{ 'tournament date' | translate }}</td>
          <td>
            {{$ctrl.tournament.opensAt| longDateTime }}
          </td>
        </tr>
        <tr>
          <td>{{ 'Categories' | translate }}</td>
          <td>
            <a class="btn btn-default"
               href="#!/my/tournament/categories/{{$ctrl.tournament.tid}}">
              {{$ctrl.tournament.categories}}
            </a>
          </td>
        </tr>
        <tr>
          <td>{{ 'enlisted to tournament' | translate }}</td>
          <td>
            <a class="btn btn-default"
               href="#!/my/tournament/presence/{{$ctrl.tournament.tid}}">
              {{$ctrl.tournament.enlisted}}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
