<div class="form-group" ng-show="$ctrl.match.participants.length != 2">
  <div class="alert alert-danger">
    Match does not have enough participants.
  </div>
</div>
<div class="form-group" ng-show="$ctrl.match.participants.length == 2">
  <label translate="Set won name"/>
  <div>
    <div ng-repeat="participant in $ctrl.match.participants">
      <a ng-click="$ctrl.activate($index)"
         class="btn btn-default"
         ng-class="{'btn-primary': $ctrl.winnerIdx == $index}"
         holdLink="#!/my/tournament/{{$ctrl.match.tid}}/participant/{{participant.uid}}">
        <you name="participant.name"/>
      </a>
    </div>
  </div>
</div>
<div class="form-group">
  <label translate="Win set score"/>
  <div>
    <a class="btn btn-default score"
       ng-repeat="score in $ctrl.possibleWinScores"
       ng-click="$ctrl.pick($ctrl.winnerIdx, score)"
       ng-class="{'btn-primary': score == $ctrl.scores[$ctrl.winnerIdx]}">
      {{score}}
    </a>
    <a class="btn btn-default score"
       ng-click="$ctrl.extendWinScore()">
      ...
    </a>
  </div>
</div>
<div class="form-group" ng-show="$ctrl.possibleLostScores.length">
  <label translate="Lost set score"/>
  <div>
    <a class="btn btn-default score"
       ng-repeat="score in $ctrl.possibleLostScores"
       ng-click="$ctrl.pickLost(1 - $ctrl.winnerIdx, score)"
       ng-class="{'btn-primary': score == $ctrl.scores[1 - $ctrl.winnerIdx]}">
      {{score}}
    </a>
  </div>
</div>
