<main-menu></main-menu>
<div class="container admin-categories">
  <request-status></request-status>
  <div class="form-group">
    <a class="btn btn-primary"
       ng-show="$ctrl.tournament.state == 'Announce' || $ctrl.tournament.state == 'Hidden'"
       ng-click="$ctrl.beginDraft()">
      {{ 'Begin Draft' | translate }}
    </a>
    <a class="btn btn-default" href="#!/my/tournament/{{$ctrl.tournament.tid}}">
      {{ 'View tournament btn' | translate }}
    </a>
  </div>
  <div class="form-group" ng-show="$ctrl.categories.length == 0">
    <div class="alert alert-info" >
      {{ 'No categories' | translate }}
    </div>
  </div>
  <div class="form-group">
    <form novalidate name="$ctrl.form"
          ng-submit="$ctrl.addGroup()"
          class="form-inline">
      <div class="form-group"
           ng-class="{'has-error': ($ctrl.form.$submitted || $ctrl.form.name.$dirty) && $ctrl.form.name.$invalid}">
        <div class="clearfix">
          <input type="text" placeholder="{{ 'Category Name' | translate }}"
                 class="form-control pull-left"
                 ng-maxlength="100"
                 required
                 name="name"
                 ng-model="$ctrl.newCategoryName"/>
          <button class="btn btn-primary pull-left" type="submit">
            <span class="glyphicon glyphicon-plus-sign"></span>
          </button>
        </div>
        <p class="help-block"
           ng-show="$ctrl.form.name.$error.minlength || $ctrl.form.name.$error.maxlength">
          {{ 'category-name-length' | translate : '{max: 100}' }}
        </p>
      </div>
    </form>
  </div>

  <div class="form-group" ng-show="$ctrl.categories">
    <table class="table categories">
      <tr ng-repeat="category in $ctrl.categories">
        <td>
          <a class="btn btn-danger" title="{{ 'remove-category-btn-hint' | translate }}"
             ng-click="$ctrl.removeCategoryByIdx($index)">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </a>
        </td>
        <td>
          <a href="#!/my/tournament/{{$ctrl.tournament.tid}}/category/{{category.cid}}/members">
            {{category.name}}
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
