<main-menu></main-menu>
<div class="container tournament-result">
  <request-status></request-status>
  <div class="alert alert-success"
       ng-show="$ctrl.tournament.state == 'Close'">
    {{ 'tournament complete' | translate : '{name: $ctrl.tournament.name}' }}
  </div>
  <div class="alert alert-info"
       ng-show="$ctrl.tournament.state == 'Open'">
    {{ 'tournament in progress' | translate : '{name: $ctrl.tournament.name}' }}
  </div>
  <div class="alert alert-info"
       ng-show="$ctrl.tournament.state == 'Draft' || $ctrl.tournament.state == 'Announce'">
    {{ 'tournament not started' | translate : '{name: $ctrl.tournament.name}' }}
  </div>
  <div class="form-group">
    <a class="btn btn-default" title="back" back-button>
      <span class="glyphicon glyphicon-circle-arrow-left"></span>
    </a>
    <a class="btn btn-default" title="to the tournament"
       href="#!/my/tournament/{{$ctrl.tournament.tid}}">
      <span class="glyphicon glyphicon-home"></span>
    </a>
    <a href="#!/tournament/group/result/{{$ctrl.tournament.tid}}"
       class="btn btn-primary" ng-show="$ctrl.tournament.hasGroups">
      <span class="glyphicon glyphicon-th"></span>
    </a>
    <a href="#!/tournament/play-off/result/{{$ctrl.tournament.tid}}"
       class="btn btn-primary" ng-show="$ctrl.tournament.hasPlayOff">
      <span class="glyphicon glyphicon-tree-conifer"></span>
    </a>
  </div>
  <div class="form-group" ng-show="$ctrl.tournament.categories.length > 1">
    <label>{{ 'Categories' | translate }}</label>
    <div class="btn-group">
      <a ng-click="$ctrl.pickCategory(category.cid)"
         class="btn"
         ng-repeat="category in $ctrl.tournament.categories | orderBy : 'name'"
         ng-class="{'btn-default': $ctrl.currentCid != category.cid, 'btn-primary': $ctrl.currentCid == category.cid}">
        {{category.name}}
      </a>
    </div>
  </div>
  <div class="form-group" ng-show="$ctrl.participants.length">
    <table class="table">
      <thead>
      <tr>
        <td class="text-center">#</td>
        <td>{{ 'Participant' | translate }}</td>
        <td title="{{ 'cumulative score across all matches' | translate }}">
          {{ 'Score' | translate }}
        </td>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="participant in $ctrl.playOffParticipants"
          ng-class="{'even-row': ((participant.playOffStep || 1) + 1) % 2}">
        <td ng-switch="participant.state" class="text-center">
          <span ng-switch-when="Win1" class="medal gold">❶</span>
          <span ng-switch-when="Win2" class="medal silver">❷</span>
          <span ng-switch-when="Win3" class="medal bronze">❸</span>
          <span ng-switch-when="Expl" class="medal text-danger">☠</span>
          <span ng-switch-when="Quit" class="medal text-muted">⚐</span>
          <span ng-switch-default>{{$index + 1}}</span>
        </td>
        <td title="{{ 'Opponents participating in the match' | translate }}">
          <a href="#!/participant/result/{{$ctrl.tournament.tid}}/{{participant.user.uid}}"
             ng-class="{'text-danger': participant.state == 'Expl', 'text-success': participant.state.startsWith('Win')}">
            {{participant.user.name}}
          </a>
        </td>
        <td>
          {{participant.punkts}}
        </td>
      </tr>
      <tr ng-show="$ctrl.playOffParticipants && $ctrl.inGroupParticipants">
        <td colspan="3" class="text-center text-muted" translate="group-play-off-border"/>
      </tr>
      <tr ng-repeat="participant in $ctrl.inGroupParticipants" class="even-row">
        <td ng-switch="participant.state" class="text-center">
          <span ng-switch-when="Win1" class="medal gold">❶</span>
          <span ng-switch-when="Win2" class="medal silver">❷</span>
          <span ng-switch-when="Win3" class="medal bronze">❸</span>
          <span ng-switch-when="Expl" class="medal text-danger">☠</span>
          <span ng-switch-when="Quit" class="medal text-muted">⚐</span>
          <span ng-switch-default>{{$ctrl.numOfPlayOffParticipants + $index + 1}}</span>
        </td>
        <td title="{{ 'Opponents participating in the match' | translate }}">
          <a href="#!/participant/result/{{$ctrl.tournament.tid}}/{{participant.user.uid}}">
            {{participant.user.name}}
          </a>
        </td>
        <td>
          {{participant.punkts}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="form-group" ng-show="$ctrl.participants.length == 0">
    <div class="alert alert-info" translate="category-has-no-played-matches"/>
  </div>
</div>
