<main-menu></main-menu>
<div class="container">
  <request-status></request-status>
  <div class="form-group">
    <button class="btn btn-primary"
            ng-click="$ctrl.logout()">
      {{ 'Logout' | translate }}
    </button>
    <button class="btn btn-primary"
            ng-show="$ctrl.email"
            ng-click="$ctrl.generateSignInLink()">
      {{ 'Generate sign-in link' | translate }}
    </button>
    <a href="#!/account/profile/edit" class="btn btn-primary">
      {{ 'Edit' | translate }}
    </a>
    <a ng-click="$ctrl.requestAdminPermissions()"
       ng-show="$ctrl.email && !$ctrl.adminAccessRequested && !$ctrl.isAdmin"
       class="btn btn-default">
      {{ 'Request Admin permissions' | translate }}
    </a>
    <div class="btn-group">
      <button type="button" class="btn navbar-btn btn-danger dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ $ctrl.language }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a ng-click="$ctrl.setLanguage('en')">
            {{ 'English' | translate }}
          </a>
        </li>
        <li>
          <a ng-click="$ctrl.setLanguage('pl')">
            {{ 'Polish' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="form-group" ng-show="$ctrl.signInEmailSent">
    <div class="alert alert-info">
      {{ 'sing-in-lin-generated' | translate }}
    </div>
  </div>
  <div class="form-group" ng-show="$ctrl.logoutWithoutEmail">
    <div class="alert alert-danger">
      {{ 'account-without-email-warning' | translate }}
    </div>
  </div>
  <div class="form-group" ng-show="$ctrl.logoutWithoutEmail">
    <button class="btn btn-danger" ng-click="$ctrl.lostAccessToAccount()">
      {{ 'Terminate account' | translate }}
    </button>
    <a href="#!/account/profile/edit" class="btn btn-primary">
      {{ 'Set an email' | translate }}
    </a>
  </div>
  <div class="form-group">
    <table class="table">
      <tr>
        <td>{{ 'Email' | translate }}</td>
        <td>
          <div ng-show="$ctrl.email">
            {{$ctrl.email}}
          </div>
          <div class="alert alert-warning" ng-show="!$ctrl.email">
            <p>
              {{ 'email-is-not-set' | translate }}
            </p>
            <p translate="follow-set-email-link"
               translate-values="{'url': '#!/account/profile/edit'}">
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <td>{{ 'first and last name' | translate }}</td>
        <td>{{$ctrl.name}}</td>
      </tr>
      <tr>
        <td>{{ 'Phone' | translate }}</td>
        <td>
          <div>{{$ctrl.userData.phone}}</div>
          <div ng-show="!$ctrl.userData.phone" class="alert alert-info">
            {{ 'Not set' | translate }}
          </div>
        </td>
      </tr>
      <tr ng-show="$ctrl.isAdmin">
        <td>{{ 'User type' | translate }}</td>
        <td>{{ 'Admin' | translate }}</td>
      </tr>
    </table>
  </div>
</div>
