<main-menu></main-menu>
<div class="container">
  <request-status></request-status>
  <div class="form-group">
    <a class="btn btn-primary"
       title="change group"
       ng-show="$ctrl.participant"
       href="#!/my/tournament/{{$ctrl.tournamentId}}/change-group/{{$ctrl.participant.user.uid}}">
      A → B
    </a>
    <a class="btn btn-primary"
       ng-show="$ctrl.participant"
       href="#!/my/tournament/{{$ctrl.tournamentId}}/change-category/{{$ctrl.participant.user.uid}}">
      <span class="glyphicon glyphicon-step-forward"/>
      {{ 'category-lbl' | translate }}
    </a>
    <a class="btn btn-default" back-button>
      {{ 'Back btn' | translate }}
    </a>
    <a class="btn btn-default" href="#!/my/tournament/{{$ctrl.tournamentId}}">
      {{ 'Tournament btn' | translate }}
    </a>
  </div>
  <div class="form-group" ng-show="$ctrl.participant">
    <table class="table">
      <tr>
        <td>
          {{ 'participant name' | translate }}
        </td>
        <td>
          {{$ctrl.participant.user.name}}
        </td>
      </tr>
      <tr>
        <td>
          {{ 'Category' | translate }}
        </td>
        <td>
          <a href="#!/my/tournament/{{$ctrl.tournamentId}}/category/{{$ctrl.participant.category.cid}}/members">
            {{$ctrl.participant.category.name}}
          </a>
        </td>
      </tr>
      <tr>
        <td>
          {{ 'bid state' | translate }}
        </td>
        <td>
          {{$ctrl.participant.state | translate}}
        </td>
      </tr>
      <tr>
        <td>
          {{ 'Enlisted at' | translate }}
        </td>
        <td>
          {{$ctrl.participant.enlistedAt}}
        </td>
      </tr>
    </table>
  </div>
</div>
