<main-menu></main-menu>
<div class="container">
  <form novalidate name="$ctrl.form"
        ng-submit="$ctrl.signIn()">
    <div class="form-group"
         ng-show="!$ctrl.ok"
         ng-class="{'has-error': ($ctrl.form.$submitted || $ctrl.form.email.$dirty) && $ctrl.form.email.$invalid}">
      <label for="email">{{ 'Email' | translate }}</label>
      <input type="email" class="form-control"
             required
             ng-model="$ctrl.email"
             ng-maxlength="60"
             validate-email
             name="email"
             id="email" placeholder="{{ 'Email' | translate }}"/>
      <p class="help-block"
         ng-show="($ctrl.form.$submitted || $ctrl.form.email.$dirty) && $ctrl.form.email.$error.required">
        {{ 'Email is required' | translate }}
      </p>
      <p class="help-block"
         ng-show="$ctrl.form.email.$error.maxlength">
        {{ 'email-length' | translate : '{max: 60}' }}
      </p>
      <p class="help-block"
         ng-show="$ctrl.form.email.$error.email">
        {{ 'email wrong format' | translate }}
      </p>
      <p class="help-block">
        {{ 'provide-email-address' | translate }}
      </p>
      <p class="help-block">
        {{ 'auth-email-sent' | translate }}
      </p>
    </div>
    <div class="form-group" ng-show="!$ctrl.ok">
      <button type="submit" class="btn btn-default btn-primary">
        {{ 'Send Link btn' | translate }}
      </button>
    </div>
    <div class="form-group">
      <request-status></request-status>
    </div>
    <div class="form-group">
      <div class="alert alert-info" ng-show="$ctrl.ok">
        {{ 'email-has-been-sent' | translate }}
      </div>
    </div>
  </form>
  <details>
    <summary>{{ 'Info' | translate }}</summary>
    <p class="alert alert-info">
      {{ 'sign-in-info' | translate }}
    </p>
  </details>
</div>
