<nav class="navbar navbar-default">
  <p class="navbar-text pull-left">{{$ctrl.title}}</p>
  <div class="pull-right btn-group">
    <button type="button" class="btn navbar-btn btn-danger dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-list"></span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li ng-show="$ctrl.lastTournament">
        <a href="#!/my/matches/judgement/{{$ctrl.lastTournament.tid}}"
           ng-show="$ctrl.lastTournament.role == 'Admin' && $ctrl.lastTournament.state == 'Open'">
          <span class="glyphicon glyphicon-bullhorn"></span>
          {{ $ctrl.lastTournament.name }}
        </a>
        <a href="#!/my/matches/judgement/{{$ctrl.lastTournament.tid}}"
           ng-show="$ctrl.lastTournament.role == 'Admin' && $ctrl.lastTournament.state != 'Open'">
          <span class="glyphicon glyphicon-cog"></span>
          {{ $ctrl.lastTournament.name }}
        </a>
        <a href="#!/my/matches/play/{{$ctrl.lastTournament.tid}}"
           ng-show="$ctrl.lastTournament.role == 'Participant' && $ctrl.lastTournament.state == 'Open'">
          <span class="glyphicon glyphicon-play-circle"></span>
          {{ $ctrl.lastTournament.name }}
        </a>
        <a href="#!/tournaments/{{$ctrl.lastTournament.tid}}"
           ng-show="$ctrl.lastTournament.role == 'Participant' && $ctrl.lastTournament.state != 'Open' && $ctrl.lastTournament.state != 'Close'">
          <span class="glyphicon glyphicon-edit"></span>
          {{ $ctrl.lastTournament.name }}
        </a>
        <a href="#!/tournament/result/{{$ctrl.lastTournament.tid}}"
           ng-show="$ctrl.lastTournament.role == 'Participant' && $ctrl.lastTournament.state == 'Close'">
          <span class="glyphicon glyphicon-eye-open"></span>
          {{ $ctrl.lastTournament.name }}
        </a>
      </li>
      <li role="separator" class="divider" ng-show="$ctrl.lastTournament"></li>
      <li>
        <a href="#!/tournament/draft/list">
          <span class="glyphicon glyphicon-pencil"></span>
          {{ 'Drafting' | translate }}
        </a>
      </li>
      <li>
        <a href="#!/watch/tournaments">
          <span class="glyphicon glyphicon-eye-open"></span>
          {{ 'Watch Games' | translate }}
        </a>
      </li>
      <li>
        <a href="#!/play/in/tournaments" ng-show="$ctrl.isAuthenticated()">
          <span class="glyphicon glyphicon-play-circle"></span>
          {{ 'Participation' | translate }}
        </a>
      </li>
      <li role="separator" ng-show="$ctrl.isAdmin()" class="divider"></li>
      <li>
        <a href="#!/my/tournaments" ng-show="$ctrl.isAdmin()">
          <span class="glyphicon glyphicon-bullhorn"></span>
          {{ 'My Judgement' | translate }}
        </a>
      </li>
      <li>
        <a href="#!/my/places" ng-show="$ctrl.isAdmin()">
          <span class="glyphicon glyphicon-map-marker"></span>
          {{ 'My Places' | translate }}
        </a>
      </li>
      <li role="separator" class="divider"></li>
      <li>
        <a href="#!/sign-in" ng-show="!$ctrl.isAuthenticated()">
          <span class="glyphicon glyphicon-log-in"></span>
          {{ 'Login' | translate }}
        </a>
      </li>
      <li>
        <a href="#!/sign-up" ng-show="!$ctrl.isAuthenticated()">
          <span class="glyphicon glyphicon-log-in"></span>
          {{ 'Sign-Up' | translate }}
        </a>
      </li>
      <li>
        <a href="#!/account" ng-show="$ctrl.isAuthenticated()" class="wrap-long">
          <span class="glyphicon glyphicon-user"></span>
          {{$ctrl.accountName || ('Account' | translate)}}
        </a>
      </li>
      <li role="separator" class="divider" ng-hide="$ctrl.contextMenu | isEmpty"></li>
      <li ng-repeat="(path, label) in $ctrl.contextMenu">
        <a ng-attr-href="{{path}}">
          {{label}}
        </a>
      </li>
    </ul>
  </div>
</nav>
