<form novalidate name="$ctrl.form"
      ng-submit="$ctrl.update()"
      default-button-type
      ng-show="!$ctrl.published">
  <div class="form-group toggle-btn">
    <label>{{ 'seeding-lbl' | translate }}</label>
    <a class="pull-right arrow"
       simple-toggler="#seeding-parameters">
      <span class="glyphicon glyphicon-menu-down"></span>
      <span class="glyphicon glyphicon-menu-up"></span>
    </a>
  </div>
  <div id="seeding-parameters" class="toggle-panel in">
    <div class="form-group">
      <label class="toggle-option">
        {{ 'rank-policy-lbl' | translate }}
      </label>
      <a class="btn btn-default"
         ng-click="$ctrl.rules.casting.policy = 'ProvidedRating'"
         ng-class="{'btn-primary': $ctrl.rules.casting.policy == 'ProvidedRating'}">
        {{ 'provided-rating-policy' | translate }}
      </a>
      <a class="btn btn-default"
         ng-click="$ctrl.rules.casting.policy = 'Manual'"
         ng-class="{'btn-primary': $ctrl.rules.casting.policy == 'Manual'}">
        {{ 'manual-rating-policy' | translate }}
      </a>
      <a class="btn btn-default"
         ng-click="$ctrl.rules.casting.policy = 'SignUp'"
         ng-class="{'btn-primary': $ctrl.rules.casting.policy == 'SignUp'}">
        {{ 'sign-up-policy' | translate }}
      </a>
    </div>
    <div class="form-group"
         ng-class="{'has-error': ($ctrl.form.$submitted || $ctrl.form.rankName.$dirty) && $ctrl.form.rankName.$invalid}"
         ng-show="$ctrl.rules.casting.policy == 'ProvidedRating'">
      <label for="rankName" class="toggle-option">
        {{ 'rank-name-lbl' | translate }}
      </label>
      <input type="text" class="form-control"
             ng-model="$ctrl.rules.casting.providedRankOptions.label"
             ng-maxlength="100"
             name="name"
             id="name"
             placeholder="{{ 'rank-name-lbl' | translate }}" />
      <p class="help-block"
         ng-show="$ctrl.form.rankName.$error.minlength || $ctrl.form.rankName.$error.maxlength">
        {{ 'rank-name-length' | translate : '{max: 100}' }}
      </p>
    </div>
    <div class="form-group"
         ng-show="$ctrl.rules.casting.policy == 'ProvidedRating'">
      <label>{{ 'Minimal allowed rank value' | translate }}</label>
      <div touch-spin options="$ctrl.options.rank"
           ng-model="$ctrl.rules.casting.providedRankOptions.minValue"></div>
    </div>
    <div class="form-group"
         ng-show="$ctrl.rules.casting.policy == 'ProvidedRating'">
      <label>{{ 'Maximum allowed rank value' | translate }}</label>
      <div touch-spin options="$ctrl.options.rank"
           ng-model="$ctrl.rules.casting.providedRankOptions.maxValue"></div>
    </div>
    <div class="form-group" ng-show="$ctrl.rules.casting.policy != 'Manual'">
      <label class="toggle-option">
        {{ 'rank-direction-lbl' | translate }}
      </label>
      <a class="btn btn-default"
         ng-click="$ctrl.rules.casting.direction = 'Decrease'"
         ng-class="{'btn-primary': $ctrl.rules.casting.direction == 'Decrease'}">
        {{ 'decreasing-lbl' | translate }}
      </a>
      <a class="btn btn-default"
         ng-click="$ctrl.rules.casting.direction = 'Increase'"
         ng-class="{'btn-primary': $ctrl.rules.casting.direction == 'Increase'}">
        {{ 'increasing-lbl' | translate }}
      </a>
    </div>
  </div>
  <div class="form-group toggle-btn">
    <label>{{ 'match-lbl' | translate }}</label>
    <a class="pull-right arrow"
       simple-toggler="#match-parameters">
      <span class="glyphicon glyphicon-menu-down"></span>
      <span class="glyphicon glyphicon-menu-up"></span>
    </a>
  </div>
  <div id="match-parameters" class="toggle-panel in">
    <div class="form-group">
      <label>{{ 'Sets to win a match' | translate }}</label>
      <div touch-spin options="$ctrl.options.sets"
           ng-model="$ctrl.rules.match.setsToWin"></div>
      <p class="help-block">
        {{ 'match-score-help' | translate }}
      </p>
    </div>
    <div class="form-group"
         ng-class="{'has-error': $ctrl.errors['match-rule.min-games-to-win']}">
      <label>{{ 'Min score to win a set' | translate }}</label>
      <div touch-spin options="$ctrl.options.score"
           ng-model="$ctrl.rules.match.minGamesToWin"></div>
      <p class="help-block" ng-repeat="error in $ctrl.errors['match-rule.min-games-to-win']">
        {{ error.message | translate : error.params }}
      </p>
      <p class="help-block">
        {{ 'min-score-to-win-set-help' | translate }}
      </p>
    </div>
    <div class="form-group">
      <label>{{ 'Min score advance to win a set' | translate }}</label>
      <div touch-spin options="$ctrl.options.advance"
           ng-model="$ctrl.rules.match.minAdvanceInGames"></div>
      <p class="help-block">
        {{ 'min-score-advance-help' | translate }}
      </p>
    </div>
  </div>
  <div class="form-group toggle-btn">
    <label>{{ 'arena-lbl' | translate }}</label>
    <a class="pull-right arrow"
       simple-toggler="#arena-parameters">
      <span class="glyphicon glyphicon-menu-down"></span>
      <span class="glyphicon glyphicon-menu-up"></span>
    </a>
  </div>
  <div id="arena-parameters" class="toggle-panel in">
    <div class="form-group">
      <label class="toggle-option">
        {{ 'Schedule tables' | translate }}
      </label>
      <a class="btn btn-default"
         ng-click="$ctrl.rules.place.arenaDistribution = 'GLOBAL'"
         ng-class="{'btn-primary': $ctrl.rules.place.arenaDistribution == 'GLOBAL'}">
        {{ 'yes-lbl' | translate }}
      </a>
      <a class="btn btn-default"
         ng-click="$ctrl.rules.place.arenaDistribution = 'NO'"
         ng-class="{'btn-danger': !$ctrl.rules.place || $ctrl.rules.place.arenaDistribution == 'NO'}">
        {{ 'no-lbl' | translate }}
      </a>
    </div>
  </div>
  <div class="form-group toggle-btn">
    <label>{{ 'group-lbl' | translate }}</label>
    <input type="checkbox"
           data-size="small"
           ng-model="$ctrl.useGroup"
           bs-toggle-on="{{ 'yes-lbl' | translate }}"
           bs-toggle-off="{{ 'no-lbl' | translate }}"
           bs-toggle-target="#group-parameters"
           bs-toggle/>
  </div>
  <div id="group-parameters" class="toggle-panel" ng-show="$ctrl.useGroup">
    <div class="form-group">
      <label>{{ 'disambiguation-group-lbl' | translate }}</label>
      <div>
        <a class="btn btn-default"
           ng-click="$ctrl.rules.group.disambiguation = 'CMP_WIN_AND_LOSE'"
           ng-class="{'btn-primary': $ctrl.rules.group.disambiguation == 'CMP_WIN_AND_LOSE'}">
          {{ 'CMP_WIN_AND_LOSE' | translate }}
        </a>
        <a class="btn btn-default"
           ng-click="$ctrl.rules.group.disambiguation = 'CMP_WIN_MINUS_LOSE'"
           ng-class="{'btn-primary': $ctrl.rules.group.disambiguation == 'CMP_WIN_MINUS_LOSE'}">
          {{ 'CMP_WIN_MINUS_LOSE' | translate }}
        </a>
      </div>
      <p class="help-block">
        {{ 'disambiguation-group-help' | translate }}
      </p>
    </div>
    <div class="form-group" ng-show="$ctrl.usePlayOff">
      <label>{{ 'Quits from a group' | translate }}</label>
      <div>
        <a class="btn btn-default"
           ng-click="$ctrl.rules.group.quits = 1"
           ng-class="{'btn-primary': $ctrl.rules.group.quits == 1}">
          {{ 'first-best' | translate }}
        </a>
        <a class="btn btn-default"
           ng-click="$ctrl.rules.group.quits = 2"
           ng-class="{'btn-success': $ctrl.rules.group.quits == 2}">
          {{ 'first-2-best' | translate }}
        </a>
      </div>
      <p class="help-block">
        {{ 'quits-group-help' | translate }}
      </p>
    </div>
    <div class="form-group" ng-show="$ctrl.usePlayOff">
      <label>{{ 'Max group size' | translate }}</label>
      <div touch-spin options="$ctrl.options.maxGroupSize"
           ng-model="$ctrl.rules.group.groupSize"></div>
      <p class="help-block">
        {{ 'max-group-size-help' | translate }}
      </p>
    </div>
    <div class="form-group">
      <label>{{ 'Match schedule in a group' }}</label>
      <textarea class="form-control" name="groupSchedule"
                rows="3" ng-model="$ctrl.groupSchedule"></textarea>
      <p class="help-block alert-danger" ng-repeat="error in $ctrl.errors['group-rule.schedule']">
        {{ error.message | translate : $ctrl.formatScheduleError(error.params) }}
      </p>
      <p class="help-block alert-danger" ng-repeat="error in $ctrl.groupScheduleErrors">
        {{ error.message | translate : error.params }}
      </p>
      <p class="help-block">
        {{ 'group-schedule-help' | translate }}
      </p>
    </div>
  </div>
  <div class="form-group toggle-btn">
    <label>{{ 'play-off-lbl' | translate }}</label>
    <input type="checkbox"
           data-size="small"
           ng-model="$ctrl.usePlayOff"
           bs-toggle-on="{{ 'yes-lbl' | translate }}"
           bs-toggle-off="{{ 'no-lbl' | translate }}"
           bs-toggle-target="#play-off-parameters"
           bs-toggle/>
  </div>
  <div id="play-off-parameters" class="toggle-panel" ng-show="$ctrl.usePlayOff">
    <div class="form-group">
      <label class="toggle-option">
        {{ 'max-losses' | translate }}
      </label>
      <a class="btn btn-default"
         ng-click="$ctrl.rules.playOff.losings = 1; $ctrl.scrollBottom()"
         ng-class="{'btn-primary': $ctrl.rules.playOff.losings == 1}">
        {{ 'up-to-1-loss' | translate }}
      </a>
      <a class="btn btn-default"
         ng-click="$ctrl.rules.playOff.losings = 2"
         ng-class="{'btn-success': $ctrl.rules.playOff.losings == 2}">
        {{ 'up-to-2-losses' | translate }}
      </a>
    </div>
    <div class="form-group" ng-show="$ctrl.rules.playOff.losings == 1">
      <label class="toggle-option">
        {{ 'Match for 3rd place' | translate }}
      </label>
      <a class="btn btn-default"
         ng-click="$ctrl.rules.playOff.thirdPlaceMatch = 1"
         ng-class="{'btn-primary': $ctrl.rules.playOff.thirdPlaceMatch == 1}">
        {{ 'yes-lbl' | translate }}
      </a>
      <a class="btn btn-default"
         ng-click="$ctrl.rules.playOff.thirdPlaceMatch = 0"
         ng-class="{'btn-danger': $ctrl.rules.playOff.thirdPlaceMatch == 0}">
        {{ 'no-lbl' | translate }}
      </a>
    </div>
  </div>
  <div class="form-group top-buffer">
    <div ng-show="$ctrl.tournamentId">
      <button class="btn btn-primary" type="submit">
        {{ 'Update btn' | translate }}
      </button>
      <a class="btn btn-danger" ng-click="$ctrl.cancel()">
        {{ 'Cancel btn' | translate }}
      </a>
    </div>
    <div ng-show="!$ctrl.tournamentId">
      <button class="btn btn-primary" type="submit">
        {{ 'Create & Open Draft' | translate }}
      </button>
      <a class="btn btn-default" ng-click="$ctrl.back()">
        {{ 'Back btn' | translate }}
      </a>
      <a ng-click="$ctrl.cancel()" class="btn btn-danger">
        {{ 'Cancel btn' | translate }}
      </a>
    </div>
  </div>
  <div id="form-bottom" class="form-group">
    <request-status></request-status>
  </div>
</form>
