<main-menu></main-menu>
<div class="container" ng-show="$ctrl.tournaments.length == 0">
  <div class="alert alert-info" >
    {{ 'There is no any open tournament.' | translate }}
  </div>
</div>
<div class="container-fluid list">
  <request-status></request-status>
  <div ng-repeat="tournament in $ctrl.tournaments"
       clickable="{{$ctrl.viewUrl(tournament)}}"
       ng-class="{'complete': tournament.state == 'Close'}"
       class="list-item tournament open-tournament clearfix">
    <div class="name pull-left">
      <a href="#!{{$ctrl.viewUrl(tournament)}}">
          {{tournament.name}}
      </a>
    </div>
    <div class="datetime pull-right">
      <span class="time" title="{{ 'Started' | translate }}" ng-show="tournament.state == 'Open'">
        {{tournament.startedAt|amTimeAgo}}
      </span>

      <span class="ended" ng-show="tournament.state == 'Close'">
        {{ 'complete status' | translate }}
      </span>

      <span class="completeness" ng-show="tournament.state == 'Open'"
            title="{{ 'Overall matches' | translate }}">
        {{$ctrl.percent(tournament)}}
      </span>
    </div>
  </div>
</div>
