@import "~css/media-mixin.scss";

@import "dice.scss";

@include desktop-media {
    .classic-group-view {
        .walk-over {
            line-height: 0.3;
            font-size: 150%;
            vertical-align: middle;
        }

        .win-over {
            line-height: 0.3;
            font-size: 200%;
            vertical-align: middle;
        }

        .pending {
            line-height: 0.3;
            font-size: 150%;
            vertical-align: middle;
        }
    }
}
