<a class="btn btn-default"
   ng-click="$ctrl.changeSortBy('seed')"
   ng-class="{'btn-primary': $ctrl.sortBy == 'seed'}">
    <span class="glyphicon glyphicon-sort"></span>
    <span class="glyphicon glyphicon-grain"></span>
</a>
<a class="btn btn-default"
   ng-click="$ctrl.changeSortBy('final')"
   ng-class="{'btn-primary': $ctrl.sortBy == 'final'}">
    <span class="glyphicon glyphicon-sort"></span>
    <span class="glyphicon glyphicon-signal"></span>
</a>
<a class="btn btn-default"
   ng-click="$ctrl.changeSortBy('name')"
   ng-class="{'btn-primary': $ctrl.sortBy == 'name'}">
    <span class="glyphicon glyphicon-sort-by-alphabet"></span>
</a>
