<table class="table">
  <thead>
    <tr>
      <td>#</td>
      <td translate="Opponent"/>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="match in $ctrl.matchList">
      <td>{{$index + 1}}</td>
      <td>
        <a href="#!/match/management/{{$ctrl.tournamentId}}/{{match.mid}}"
           class="btn"
           ng-class="{'btn-success': match.opponent.uid != match.winnerUid && match.winnerUid, 'btn-danger':  match.opponent.uid == match.winnerUid}">
          {{match.opponent.name}}
        </a>
      </td>
    </tr>
  </tbody>
</table>
