<main-menu></main-menu>
<request-status></request-status>
<div class="container">
  <div class="form-group toggle-btn">
    <label>{{ 'match-lbl' | translate }}</label>
    <a class="pull-right arrow"
       simple-toggler="#match-parameters">
      <span class="glyphicon glyphicon-menu-down"></span>
      <span class="glyphicon glyphicon-menu-up"></span>
    </a>
  </div>
  <div id="match-parameters" class="toggle-panel in">
    <div class="form-group">
      <label for="setsToWin">{{ 'Sets to win a match' | translate }}</label>
      <input id="setsToWin" class="form-control" readonly ng-model="$ctrl.rules.match.setsToWin"/>
    </div>
    <div class="form-group">
      <label for="minScoreToWin">{{ 'Min score to win a set' | translate }}</label>
      <input id="minScoreToWin" class="form-control" readonly ng-model="$ctrl.rules.match.minGamesToWin"/>
    </div>
    <div class="form-group">
      <label for="scoreAdvance">{{ 'Min score advance to win a set' | translate }}</label>
      <input id="scoreAdvance" class="form-control" readonly ng-model="$ctrl.rules.match.minAdvanceInGames"/>
      <p class="help-block">
        {{ 'min-score-advance-help' | translate }}
      </p>
    </div>
  </div>
  <div class="form-group toggle-btn">
    <label>{{ 'group-lbl' | translate }}</label>
    <div class="btn btn-danger pull-right" ng-show="!$ctrl.rules.group">
      {{ 'no-lbl' | translate }}
    </div>
  </div>
  <div id="group-parameters" class="toggle-panel" ng-show="$ctrl.rules.group">
    <div class="form-group">
      <label>{{ 'Quits from a group' | translate }}</label>
      <div>
        <a class="btn btn-default"
           ng-class="{'btn-primary': $ctrl.rules.group.quits == 1}">
          {{ 'first-best' | translate }}
        </a>
        <a class="btn btn-default"
           ng-class="{'btn-success': $ctrl.rules.group.quits == 2}">
          {{ 'first-2-best' | translate }}
        </a>
      </div>
      <p class="help-block">
        {{ $ctrl.rules.group.quits }}
        {{ 'quits-group-help' | translate }}
      </p>
    </div>
  </div>
  <div class="form-group toggle-btn">
    <label>{{ 'play-off-lbl' | translate }}</label>
    <div class="btn btn-danger pull-right" ng-show="!$ctrl.rules.playOff">
      {{ 'no-lbl' | translate }}
    </div>
  </div>
  <div id="play-off-parameters" class="toggle-panel" ng-show="$ctrl.rules.playOff">
    <div class="form-group">
      <label class="toggle-option">
        {{ 'max-losses' | translate }}
      </label>
      <a class="btn btn-default"
         ng-class="{'btn-primary': $ctrl.rules.playOff.losings == 1}">
        {{ 'up-to-1-loss' | translate }}
      </a>
      <a class="btn btn-default"
         ng-class="{'btn-success': $ctrl.rules.playOff.losings == 2}">
        {{ 'up-to-2-losses' | translate }}
      </a>
    </div>
    <div class="form-group" ng-show="$ctrl.rules.playOff.losings == 1">
      <label class="toggle-option">
        {{ 'Match for 3rd place' | translate }}
      </label>
      <a class="btn btn-default"
         ng-class="{'btn-primary': $ctrl.rules.playOff.thirdPlaceMatch == 1}">
        {{ 'yes-lbl' | translate }}
      </a>
      <a class="btn btn-default"
         ng-class="{'btn-danger': $ctrl.rules.playOff.thirdPlaceMatch == 0}">
        {{ 'no-lbl' | translate }}
      </a>
    </div>
  </div>
  <div class="form-group">
  </div>
  <div class="form-group">
    <a class="btn btn-primary" back-button>
      <span class="glyphicon glyphicon-circle-arrow-left"></span>
    </a>
  </div>
</div>
