<main-menu></main-menu>
<div class="container">
  <request-status></request-status>
  <div class="alert alert-info" ng-switch="$ctrl.matches.bidState">
    <div ng-switch-when="Win1"
         translate="congrat-1st-place",
         translate-values="{url: '#!/tournament/result/' + $ctrl.tournamentId}">
    </div>
    <div ng-switch-when="Win2"
         translate="congrat-2st-place",
         translate-values="{url: '#!/tournament/result/' + $ctrl.tournamentId}">
    </div>
    <div ng-switch-when="Win3"
         translate="congrat-3rd-place",
         translate-values="{url: '#!/tournament/result/' + $ctrl.tournamentId}">
    </div>
    <div ng-switch-when="Lost" translate="congrat-lost"
         translate-values="{url: '#!/tournament/result/' + $ctrl.tournamentId}">
    </div>
    <div ng-switch-when="Quit" translate="congrat-quit"
         translate-values="{url: '#!/tournament/result/' + $ctrl.tournamentId}">
    </div>
    <div ng-switch-when="Expl" translate="congrat-expelled"
         translate-values="{url: '#!/tournament/result/' + $ctrl.tournamentId}">
    </div>
    <div ng-switch-when="Wait">
      <div ng-show="$ctrl.matches.matches.length" translate="wait-for-free-place-to-place"/>
      <div ng-show="!$ctrl.matches.matches" translate="no-matches-left-to-play"/>
    </div>
    <div ng-switch-when="Play">
      <div ng-show="$ctrl.matches.matches.length" translate="pick-your-match-to-score"/>
    </div>
    <div ng-switch-when="Want" translate="you-enlisted-pay"/>
    <div ng-switch-when="Paid" translate="you-paid-check"/>
    <div ng-switch-when="Here" translate="you-ready-wait-begin"/>
    <div ng-switch-default>
      {{ 'unsupported-player-state' | translate : '{name: $ctrl.matches.bidState}' }}
    </div>
  </div>
  <div class="form-group">
    <a class="btn btn-default"
       title="{{ 'Watch Ratings' | translate }}"
       href="#!/tournament/result/{{$ctrl.tournamentId}}">
      <span class="glyphicon glyphicon-stats"></span>
    </a>
    <a class="btn btn-default"
       title="{{ 'Watch Games' | translate }}"
       href="#!/watch/tournament/{{$ctrl.tournamentId}}">
      <span class="glyphicon glyphicon-eye-open"></span>
    </a>
    <a class="btn btn-default"
       back-button
       title="back">
      <span class="glyphicon glyphicon-circle-arrow-left"></span>
    </a>
  </div>
  <div ng-show="$ctrl.openMatch" class="form-group">
    <a class="btn btn-primary wrap-long" ng-click="$ctrl.matchScoring($ctrl.openMatch)"
       translate="score-match"/>
    </a>
  </div>
  <div ng-show="!$ctrl.openMatch && $ctrl.matches.showTables && $ctrl.matches.matches.length > 0"
       class="form-group alert alert-info">
    {{ 'Wait for a free table.' | translate }}
  </div>
  <table class="table" ng-show="$ctrl.matches.matches.length > 0">
    <thead>
      <tr>
        <td ng-show="!$ctrl.matches.showTables"></td>
        <td title="{{ 'state-descr-hint' | translate }}" ng-show="$ctrl.matches.showTables">
          <a href="#!/match/state/description">
            {{ 'match state' | translate }}
          </a>
        </td>
        <td title="{{ 'match-type-hint' | translate }}">
          {{ 'the match' | translate }}
        </td>
        <td title="{{ 'table-number-hint' | translate }}" ng-show="$ctrl.matches.showTables">
          {{ 'the table' | translate }}
        </td>
        <td title="{{ 'opponent-name' | translate }}">
          {{ 'the contestant' | translate }}
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="match in $ctrl.matches.matches">
        <td ng-show="!$ctrl.matches.showTables">
          <a class="btn btn-primary" href="#!/match/management/{{match.tid}}/{{match.mid}}">
            <span class="glyphicon glyphicon-info-sign"></span>
          </a>
        </td>
        <td class="match-state-description"
            title="{{ 'match-state-descr-in-row' | translate }}"
            ng-show="$ctrl.matches.showTables"
            ng-class="{'text-danger': match.state == 'Game'}">
          {{match.state | translate}}
        </td>
        <td title="{{ 'match-type-descr-in-row' | translate }}">
          {{match.matchType | translate}}
        </td>
        <td class="table-number" ng-show="$ctrl.matches.showTables">
          <a href="#!/place/tables/{{match.table.id}}"
             title="{{ 'table-label-descr-row' | translate }}"
             ng-show="match.table.id">
            {{match.table.label}}
          </a>
          <span title="{{ 'No free table' | translate }}" ng-show="!match.table.id">-</span>
        </td>
        <td title="{{ 'Your opponent in a game.' | translate }}">
          <a ng-click="$ctrl.matchScoring(match)">
            {{match.enemy.name}}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
