<main-menu></main-menu>
<div class="container">
  <form novalidate name="$ctrl.form" ng-submit="$ctrl.signUp()">
    <div class="form-group" ng-class="{'has-error':  ($ctrl.form.$submitted || $ctrl.form.firstName.$dirty) && $ctrl.form.firstName.$invalid}">
      <label for="firstName">{{ 'First name' | translate }}</label>
      <input type="text" class="form-control"
             ng-model="$ctrl.firstName"
             ng-maxlength="20"
             ng-minlength="2"
             required
             name="firstName"
             id="firstName"
             placeholder="{{ 'First name' | translate }}"/>
      <p class="help-block"
         ng-show="$ctrl.form.firstName.$error.required">
        {{ 'FirstName is required' | translate }}
      </p>
      <p class="help-block"
         ng-show="$ctrl.form.firstName.$error.minlength || $ctrl.form.firstName.$error.maxlength">
        {{ 'first-name-length-range' | translate : '{min: 2, max: 20}' }}
      </p>
    </div>
    <div class="form-group" ng-class="{'has-error': ($ctrl.form.$submitted || $ctrl.form.lastName.$dirty) && $ctrl.form.lastName.$invalid}">
      <label for="lastName">{{ 'Last name' | translate }}</label>
      <input type="text" class="form-control"
             name="lastName"
             ng-maxlength="20"
             ng-minlength="2"
             required
             ng-model="$ctrl.lastName"
             id="lastName" placeholder="{{ 'Last name' | translate }}"/>
      <p class="help-block"
         ng-show="$ctrl.form.lastName.$error.required">
        {{ 'LastName is required' | translate }}
      </p>
      <p class="help-block"
         ng-show="$ctrl.form.lastName.$error.minlength || $ctrl.form.lastName.$error.maxlength">
        {{ 'last-name-length-range' | translate : '{min: 2, max: 20}' }}
      </p>
    </div>
    <div class="form-group"
         ng-class="{'has-error': ($ctrl.form.$submitted || $ctrl.form.email.$dirty) && $ctrl.form.email.$invalid}">
      <label for="email">{{ 'Email' | translate }}</label>
      <input type="email" class="form-control"
             ng-model="$ctrl.email"
             ng-maxlength="60"
             validate-email
             name="email"
             id="email" placeholder="{{ 'Email' | translate }}"/>
      <p class="help-block"
         ng-show="$ctrl.form.email.$error.maxlength">
        {{ 'email-length' | translate : '{max: 60}' }}
      </p>
      <p class="help-block"
         ng-show="$ctrl.form.email.$error.email">
        {{ 'email wrong format' | translate }}
      </p>
      <p class="help-block" ng-show="$ctrl.form.email.$valid">
        {{ 'email-purpose-description' | translate }}
      </p>
    </div>
    <div class="form-group"
         ng-class="{'has-error': ($ctrl.form.$submitted || $ctrl.form.phone.$dirty) && $ctrl.form.phone.$invalid}">
      <label for="phone">{{ 'Phone' | translate }}</label>
      <input type="text" class="form-control"
             ng-model="$ctrl.phone"
             ng-maxlength="40"
             validate-phone
             name="phone"
             id="phone"
             placeholder="{{ 'Phone' | translate }}"/>
      <p class="help-block" ng-show="$ctrl.form.phone.$valid">
        {{ 'phone-purpose-description' | translate }}
      </p>
      <p class="help-block"
         ng-show="$ctrl.form.phone.$error.maxlength">
        {{ 'phone-length' | translate : '{max: 40}' }}
      </p>
      <p class="help-block"
         ng-show="$ctrl.form.phone.$error.phone">
        {{ 'phone format wrong' | translate }}
      </p>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-default btn-primary">
        {{ 'Sign Up btn' | translate }}
      </button>
    </div>
    <div class="form-group">
      <request-status></request-status>
    </div>
  </form>
</div>
